<p>
    <a href="#/">Zurück zur Suche</a>
</p>

Suche für {{ keywords }} {{keywordsResult}}
<hr/>
<div ng-repeat="u in keywordsResult">
    {{u}}
    <div class="row">
        <div class="col-md-12">
            <urlreport weather-day="u"/>
        </div>
    </div>
</div>