<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <input type="search" ng-model="keywordsSearch" class="form-control" placeholder="type in"/>
        </div>
    </div>
</div>
<hr/>
<div>
    <ul>
        <li ng-repeat="keywordsSearchResult in keywordsSearchResults">
            <a href="{{ keywordsSearchResult.url }}" target="_blank">{{keywordsSearchResult.url}}</a>
        </li>
    </ul>
</div>
